<div class="container">
  <div class="card shadow p-4 m-4">
    <%= simple_form_for @patient do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :gender %>
      <%= f.input :price %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
